.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card {
  width: 600px;
  background: transparent;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: silver;
  padding: 10px;
}

.options {
  display: flex;
  gap: 20px;
}

.options > p {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.options > p > a {
  display: block;
  text-decoration: none;
  color: aquamarine;
  transition: text-shadow 0.5s;
}

.options > p > a:hover {
  text-shadow: 0 0 13px rgb(0, 255, 220);
}

.welcomeTitle {
  padding: 0;
  margin-left: 100px;
  font-size: 40px;
}

.supplementaryTitle {
  margin: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .card {
    width: 80%;
  }
  .options > p {
    width: 50%;
    align-items: flex-start;
  }
  .options > p > a {
    padding: 2px 0;
  }
  .welcomeTitle {
    text-align: center;
    margin-left: 0;
    margin-top: 100px;
  }
}

@media (max-width: 420px) {
  .welcomeTitle {
    margin-top: 150px;
  }
  .options {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    margin-top: 50px;
  }
}
